@import 'styles/abstracts';

.button {
  @include font($text-s-md, 1, $font-semibold);
  @include flex($both: center, $gap: 5px);
  height: $btnHeight;
  width: $full;
  border: 1px solid $grey;
  border-radius: 4px;
  background-color: $white;

  @include transition($time: 100ms);

  & img {
    @include size(20px);
  }

  &:hover {
    background-color: rgba($black, 0.08);
  }

  &--disabled {
    pointer-events: none;
    opacity: 0.6;
  }

  &--primary {
    color: $white;
    background-color: $primary-color;
    border-color: $primary-color;
    &:hover {
      background-color: rgba($primary-color, 0.75);
    }
  }

  &--social {
  }
}
