@import 'styles/base';

.chatroom {
  margin-left: 20px;
  margin-bottom: 20px;
  &__box {
    @include flex(inline-flex,$direction: column, $gap: 10px);
    margin-top: 20px;
    background-color: $primary-color;
    padding: 30px;
  }
}
