@import 'styles/base';

.login {
  &__title {
    text-align: center;
    line-height: 2.5rem;
    user-select: none;
  }

  &__group {
    @include flex($justifyContent: space-between);
  }
  &__btn-forgot {
    @include font($text-s-sm, 1, $font-bold, $red2);
    @include MOBILE {
      font-size: $text-s-md;
    }
    margin-left: auto;

    &:hover {
      text-decoration: underline;
      color: rgba($red2, 0.8);
    }
  }
}
