@import 'styles/base';
$pad: 20px;
$box-shadow: 0px 0px 4px 2px rgba($primary-color, 0.2);
$box-shadow-error: 0px 0px 4px 2px rgba($red, 0.2);
$text-label: 0.93rem;

.form {
  margin: auto;
  @include flex(flex, $direction: column);
  gap: 17px;

  &__input {
    @include text-md;
    height: $btnHeight;
    width: $full;
    padding: 0 $pad;

    border: 1px solid $primary-color;
    border-radius: 5px;

    @include flex(flex, center, null);

    & input {
      width: $full;
      @include font(inherit);
    }

    &-icon {
      padding-left: calc($pad/2);
      & img {
        @include size(18px);
      }
    }

    &-phone {
      padding-left: calc($pad/2);
      @include text-md;

      &-label {
        line-height: calc($btnHeight - 3px);
        padding-right: calc($pad/2);
        position: relative;
        &:after {
          content: '';
          @include position(absolute, $top: $half, $right: 0, $y: -50%);
          height: 50%;
          border: 1px solid $grey;
        }
      }
    }

    &-checkbox {
      @include font($text-label, 1, $font-semibold);
      @include flex(flex);
      gap: calc($pad/2);
    }

    &:focus,
    &:focus-within {
      box-shadow: $box-shadow;
    }

    &--error {
      border-color: $red;
      &:focus,
      &:focus-within {
        box-shadow: $box-shadow-error;
      }
    }
  }

  &__label {
    @include font($text-label, 1, $font-semibold);
    @include flex(flex, $direction: column);
    gap: 8px;
  }

  &__error {
    @include font($text-s-sm, 1, $font-semibold, $red);
    margin-left: 5px;
  }
}
