@import 'base';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: $font-inter;
  @include text-md;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

input {
  background-color: transparent;
  border: none;
  outline: none;
  &:focus {
    outline: none;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  transition: all 5000s ease-in-out 0s;
}

input:-webkit-autofill::first-line {
  font-size: $text-s-md !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}
