@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap');

// font family
$font-inter: 'Inter', sans-serif;

// font weight
$font-thin: 200; 
$font-light: 300; 
$font-normal: 400; 
$font-semibold: 500; 
$font-bold: 600; 
$font-extrabold: 700;
$font-black: 800; 

// font size
$text-xsm: 0.75rem; //12px
$text-sm: 0.875rem; //14px
$text-md: 1rem; //16px
$text-lg: 1.125rem; //18px
$text-xl: 1.25rem; //20px
$text-2xl: 1.5rem; //24px