$default: null;

@mixin size($all: 100%, $h: $all, $w: $all) {
  height: $h;
  width: $w;
}

@mixin position(
  $pos: relative,
  $all: $default,
  $top: $all,
  $right: $all,
  $bottom: $all,
  $left: $all,
  $y: 0,
  $x: 0
) {
  position: $pos;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  transform: translate($x, $y);
}

@mixin flex(
  $type: flex,
  $both: $default,
  $alignItems: $both,
  $justifyContent: $both,
  $direction: $default,
  $gap: 0
) {
  display: $type;
  align-items: $alignItems;
  justify-content: $justifyContent;
  flex-direction: $direction;
  gap: $gap;
}

@mixin font(
  $size,
  $line-height: 1,
  $weight: 400,
  $color: $black,
  $decoration: $default
) {
  font-size: $size;
  line-height: $line-height;
  font-weight: $weight;
  color: $color;
  text-decoration: $decoration;
}

@mixin transition($time: 200ms, $object: all, $type: linear) {
  transition: $object $type $time;
}

//@mixin spacing
// @mixin border
// @mixin flex
