@mixin size($all: 100%, $h: $all, $w: $all) {
    height: $h;
    width: $w;
}

@mixin position ($pos: 'relative', $all: none, $top:$all, $right:$all, $bottom:$all, $left:$all) {
   position: $pos; 
   top: $top;
   right: $right;
   bottom: $bottom;
   left: $left;
}

@mixin flex ($type, $alignItems, $justifyContent, $direction: row) {
    display: $type;
    align-items: $alignItems;
    justify-content: $justifyContent;
    flex-direction: $direction;
}

@mixin font ($size, $line-height, $weight: 400, $color: $black, $decoration: none) {
    font-size: $size;
    line-height: $line-height;
    font-weight: $weight;
    color: $color;
    text-decoration: $decoration;
}

//@mixin spacing
// @mixin border 
// @mixin flex 