@import 'styles/base';

.message {
  @include size($h: 42px, $w: $full);
  background-color: $white;
  @include flex;
  padding: 0px 15px;

  & input {
    @include text-sm;
    flex: 1;
    padding-right: 15px;
  }

  & button img {
    @include size(20px);
    margin-right: 15px;
  }
}
