@import 'styles/abstracts';

$item-size-on-mobile: $full;
$item-size-on-tablet: 70%;
$item-size-on-pc: 80%;
$item-size-on-pc-lg: 80%;

.home {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  gap: 0px;
  min-height: $height-screen;

  @include XLARGE-PC {
    grid-template-columns: 1fr 2fr;
    gap: 36px;
  }

  @include PC {
    grid-template-columns: 1.3fr 2fr;
    gap: 16px;
  }

  @include TABLET {
    padding: 30px 0px;
    gap: 16px;
  }

  @include MOBILE {
    padding: 0px !important;
    align-items: unset;
  }

  &-wrapper {
    background-image: url('../../assets/images/background_home.svg');
  }

  &-content {
    text-align: center;

    @include TABLET {
      align-self: flex-start;
    }

    @include MOBILE {
      background: $white;
      padding: 30px 20px;
      border-top-right-radius: 40px;
      border-top-left-radius: 40px;
      box-shadow: 0px 0px 10px 1px rgba($black, 0.1);
    }
    > h1 {
      line-height: 1.2;
      @include MOBILE {
        margin-bottom: 7px;
      }
    }

    &__subtitle {
      display: inline-block;
      margin-top: 5px;
      @include MOBILE {
        margin-bottom: 0px;
      }
    }

    > .button {
      max-width: 300px;
      margin: 30px auto 0px;
      border-radius: 9999px;
      box-shadow: 0px 0px 20px 2px rgba($primary-color, 0.2);
    }

    &__already {
      display: inline-block;
      margin-top: 20px;
      > button {
        @include font($text-s-md, 1, $font-bold, $primary-color);
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  &-photos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    justify-items: center;

    &-wrapper {
      @include MOBBILE_TABLET {
        order: -1;
        align-self: center;
        padding: 30px 20px 30px;
      }
    }
    &__item {
      width: $item-size-on-mobile;
      padding-top: $item-size-on-mobile;
      position: relative;

      &:nth-child(1),
      &:nth-child(3) {
        justify-self: end;
      }
      &:nth-child(2),
      &:nth-child(4) {
        justify-self: start;
      }

      @include PC {
        width: $item-size-on-pc;
        padding-top: $item-size-on-pc;
      }

      @include LARGE-PC {
        width: $item-size-on-pc-lg;
        padding-top: $item-size-on-pc-lg;
      }

      @include TABLET {
        width: $item-size-on-tablet;
        padding-top: $item-size-on-tablet;
      }
    }
  }

  &__photo {
    position: absolute;
    top: 0;
    left: 0;
    @include size;
    background-color: $primary-color;
    border-radius: $full;
    overflow: hidden;

    &--left {
      border-bottom-left-radius: 0px;
    }
    &--right {
      border-bottom-right-radius: 0px;
    }

    > img {
      @include size;
      object-fit: contain;
    }

    &--zoom {
      overflow: unset;
      & img {
        transform: scale(1.08);
        transform-origin: bottom;
      }
    }
  }
}
