@import 'styles/base';
$text-s-message: 0.84rem;

.userCard {
  user-select: none;
  border-radius: 4px;
  transition: all linear 100ms;
  @include size($h: 70px, $w: $full);
  @include flex($alignItems: center, $gap: 10px);
  margin-top: 5px;
  padding: 10px 20px;

  &:hover {
    background-color: rgba($primary-color, 0.07);
  }

  &--active {
    &:hover {
      background-color: rgba($primary-color, 0.2);
    }
  }

  &--active {
    background-color: rgba($primary-color, 0.15);
  }

  &--click {
    cursor: pointer;
  }

  &__avatar {
    @include size(50px);

    & img {
      border-radius: $full;
      @include size;
      object-fit: cover;
    }
  }
  &__content {
    @include flex($direction: column);
    flex: 1;
    min-width: 0;
  }

  &__name {
    @include font($text-s-sm, 1.5, $font-bold);
  }
  &__message {
    @include font($text-s-message, 1.2, $font-normal);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  &__message-timestamp {
    @include font($text-s-xsm, 1.5, $font-light);
  }

  &__timestamp {
    @include font($text-s-sm, 1.5, $font-light);
  }
  &__quantity {
    @include font($text-s-xsm, 20px, $font-semibold, $white, $align: center);
    @include size(20px);
    border-radius: $full;
    background-color: $primary-color;
  }

  &__history {
    @include font($text-s-sm, 1.5, $font-semibold);
    &--incoming {
      color: $green;
    }
    &--outgoing {
      color: $primary-color;
    }
    &--missed {
      color: $red;
    }
  }
  &__status {
    @include size(20px);
    @include font($text-s-xsm, 20px, $font-semibold, $white, $align: center);
  }

  &--online &__avatar,
  &--offline &__avatar {
    position: relative;
    &:after {
      content: '';
      @include size(11px);
      border-radius: $full;
      @include position(absolute, $bottom: 3px, $right: 0px);
    }
  }
  &--online &__avatar {
    &:after {
      background-color: $primary-color;
    }
  }

  &--offline &__avatar {
    &:after {
      background-color: $grey;
    }
  }

  &__tag {
    @include font($text-s-xsm, 1, $font-normal, $grey);
  }
}
